In [1]:
import pandas as pd

In [ ]:
#missing data is always (mostly) happens in data collection, this data has to be worked and dealt with.
#missing data causes error in data analysis or causes mistakes in calculation

In [10]:
pd.read_csv('data-missing.csv')

#as you can see we have some data which are  missing and this is a problem for further steps
#missing data can be different thisnks:
# 0 is kinda missing data for me in this toturial
# na is a missing data for mean
# NaN is missing dataset
#now that I have a group of missing data, I can already define what are my missing data in which column

     Name  Gender Grade  Exam-Mark Next addmission Next level
0    John    Male     5       70.0               N          Y
1     Ali    Male     5       80.0               Y          Y
2     Wak    Male     5       87.0             NaN          N
3     Dem  Female     6        NaN               Y         na
4  Louise     NaN     0       78.0               Y          N
5   Johna  Female     6       20.0               N          N
6    Reda  Female    na       12.0               N          N
7   Walki     NaN     5        NaN               Y          N
8    Sess    Male     5       15.0               N          N
9     NaN     NaN   NaN       12.0             NaN          N

In [14]:
#lets read again and see how to define missing ndict_values
pd.read_csv('data-missing.csv', na_values={'Grade': ['na', 0] ,'Next level':['na']})

#notes
#NaN data is already predefined, so not needed to be mentioned
#missing values are shown by dictionaries
#as always, take care of lower, and upper case variable names

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0       70.0               N          Y
1     Ali    Male    5.0       80.0               Y          Y
2     Wak    Male    5.0       87.0             NaN          N
3     Dem  Female    6.0        NaN               Y        NaN
4  Louise     NaN    NaN       78.0               Y          N
5   Johna  Female    6.0       20.0               N          N
6    Reda  Female    NaN       12.0               N          N
7   Walki     NaN    5.0        NaN               Y          N
8    Sess    Male    5.0       15.0               N          N
9     NaN     NaN    NaN       12.0             NaN          N

In [17]:
#another easier way to have mission values is to make a list of possible missing formats and use the list

missing_vals = ['na', 'NA', '', 0]

data_missing = pd.read_csv('data-missing.csv', na_values = missing_vals)

In [18]:
#there are two main ways to deal with missing data:
# 1. remove row/rows of missing data
# 2. filling with a specific data that matched (can be anything)

#TO DELETE:
print(data_missing.dropna(axis = 0, inplace = False, how = 'any'))
# axis >> 0 =  row and 1 = column
# inplace >> True >> apply to current dataframe ; False = 'new dataframe
#how >> all > a place where all data is missing  ; any > where you see any missing data

    Name  Gender  Grade  Exam-Mark Next addmission Next level
0   John    Male    5.0       70.0               N          Y
1    Ali    Male    5.0       80.0               Y          Y
5  Johna  Female    6.0       20.0               N          N
8   Sess    Male    5.0       15.0               N          N

In [19]:
print(data_missing.dropna(axis = 1, inplace = False, how = 'all'))

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0       70.0               N          Y
1     Ali    Male    5.0       80.0               Y          Y
2     Wak    Male    5.0       87.0             NaN          N
3     Dem  Female    6.0        NaN               Y        NaN
4  Louise     NaN    NaN       78.0               Y          N
5   Johna  Female    6.0       20.0               N          N
6    Reda  Female    NaN       12.0               N          N
7   Walki     NaN    5.0        NaN               Y          N
8    Sess    Male    5.0       15.0               N          N
9     NaN     NaN    NaN       12.0             NaN          N

In [24]:
print(data_missing.dropna(axis = 0, inplace = False, how = 'any'))

    Name  Gender  Grade  Exam-Mark Next addmission Next level
0   John    Male    5.0       70.0               N          Y
1    Ali    Male    5.0       80.0               Y          Y
5  Johna  Female    6.0       20.0               N          N
8   Sess    Male    5.0       15.0               N          N

In [25]:
#look at the code and answer why this code returns empty result
print(data_missing.dropna(axis = 1, inplace = False, how = 'any'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

answer:
as the code shows we are working on '1 > columns' and also we asked for 'any' so that all columns have at least a missing data

In [ ]:
#another way to deal with missing data is filling, 
#there are a lot of ways dealing for example:
#ask to refill with mean or median   >> numeric data 
#define a specific number, or value to be sit in the missing value
#define Nan with data before/after its cell  > fill forward, fill backward

In [35]:
#using median or mean:
data_missing['Grade'].fillna(data_missing['Grade'].median(), inplace = False)
print(data_missing)

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0      70.00               N          Y
1     Ali    Male    5.0      80.00               Y          Y
2     Wak    Male    5.0      87.00             NaN          N
3     Dem  Female    6.0      46.75               Y        NaN
4  Louise     NaN    5.0      78.00               Y          N
5   Johna  Female    6.0      20.00               N          N
6    Reda  Female    5.0      12.00               N          N
7   Walki     NaN    5.0      46.75               Y          N
8    Sess    Male    5.0      15.00               N          N
9     NaN     NaN    5.0      12.00             NaN          N

In [34]:
data_missing['Exam-Mark'].fillna(data_missing['Exam-Mark'].mean(), inplace = False)
print(data_missing)

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0      70.00               N          Y
1     Ali    Male    5.0      80.00               Y          Y
2     Wak    Male    5.0      87.00             NaN          N
3     Dem  Female    6.0      46.75               Y        NaN
4  Louise     NaN    5.0      78.00               Y          N
5   Johna  Female    6.0      20.00               N          N
6    Reda  Female    5.0      12.00               N          N
7   Walki     NaN    5.0      46.75               Y          N
8    Sess    Male    5.0      15.00               N          N
9     NaN     NaN    5.0      12.00             NaN          N

In [36]:
#to fill with a constant number
data_missing['Exam-Mark'].fillna(12, inplace = False)
print(data_missing)

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0      70.00               N          Y
1     Ali    Male    5.0      80.00               Y          Y
2     Wak    Male    5.0      87.00             NaN          N
3     Dem  Female    6.0      46.75               Y        NaN
4  Louise     NaN    5.0      78.00               Y          N
5   Johna  Female    6.0      20.00               N          N
6    Reda  Female    5.0      12.00               N          N
7   Walki     NaN    5.0      46.75               Y          N
8    Sess    Male    5.0      15.00               N          N
9     NaN     NaN    5.0      12.00             NaN          N

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0      70.00               N          Y
1     Ali    Male    5.0      80.00               Y          Y
2     Wak    Male    5.0      87.00             NaN          N
3     Dem  Female    6.0      46.75               Y        NaN
4  Louise    Male    5.0      78.00               Y          N
5   Johna  Female    6.0      20.00               N          N
6    Reda  Female    5.0      12.00               N          N
7   Walki    Male    5.0      46.75               Y          N
8    Sess    Male    5.0      15.00               N          N
9     NaN    Male    5.0      12.00             NaN          N

In [46]:
#I recall data all time to see how does it look

####################################################33
#This is because in VSCODE users inplace = Flase shows data in another way different than Jupyter notebook
#If you are using Jupyter notebook, you don't need to import all time
###################################################33

missing_vals = ['na', 'NA', '', 0]
Data_2 = pd.read_csv('data-missing.csv', na_values = missing_vals)
Data_2['Exam-Mark'].fillna(999, inplace = True)
print(Data_2)

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0       70.0               N          Y
1     Ali    Male    5.0       80.0               Y          Y
2     Wak    Male    5.0       87.0             NaN          N
3     Dem  Female    6.0      999.0               Y        NaN
4  Louise     NaN    NaN       78.0               Y          N
5   Johna  Female    6.0       20.0               N          N
6    Reda  Female    NaN       12.0               N          N
7   Walki     NaN    5.0      999.0               Y          N
8    Sess    Male    5.0       15.0               N          N
9     NaN     NaN    NaN       12.0             NaN          N

In [47]:
missing_vals = ['na', 'NA', '', 0]
Data_3 = pd.read_csv('data-missing.csv', na_values = missing_vals)
Data_3['Exam-Mark'].fillna(method = 'ffill', inplace = True)  #filling with forward
print(Data_3)

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0       70.0               N          Y
1     Ali    Male    5.0       80.0               Y          Y
2     Wak    Male    5.0       87.0             NaN          N
3     Dem  Female    6.0       87.0               Y        NaN
4  Louise     NaN    NaN       78.0               Y          N
5   Johna  Female    6.0       20.0               N          N
6    Reda  Female    NaN       12.0               N          N
7   Walki     NaN    5.0       12.0               Y          N
8    Sess    Male    5.0       15.0               N          N
9     NaN     NaN    NaN       12.0             NaN          N

In [48]:
missing_vals = ['na', 'NA', '', 0]
Data_4 = pd.read_csv('data-missing.csv', na_values = missing_vals)
Data_4['Exam-Mark'].fillna(method = 'bfill', inplace = True)   #filling with Backward
print(Data_4)

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0       70.0               N          Y
1     Ali    Male    5.0       80.0               Y          Y
2     Wak    Male    5.0       87.0             NaN          N
3     Dem  Female    6.0       78.0               Y        NaN
4  Louise     NaN    NaN       78.0               Y          N
5   Johna  Female    6.0       20.0               N          N
6    Reda  Female    NaN       12.0               N          N
7   Walki     NaN    5.0       15.0               Y          N
8    Sess    Male    5.0       15.0               N          N
9     NaN     NaN    NaN       12.0             NaN          N

In [59]:
#another way to deal with missing data is to use interpolate :

# read more: https://numpy.org/doc/stable/reference/generated/numpy.interp.html

missing_vals = ['na', 'NA', '', 0]
Data_5 = pd.read_csv('data-missing.csv', na_values = missing_vals)
Data_5['Exam-Mark'].interpolate(method = 'linear', inplace = True)
    #filling with Backward)
print(Data_5)
#this method uses a mathematical equition, you can read more about it in math

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0       70.0               N          Y
1     Ali    Male    5.0       80.0               Y          Y
2     Wak    Male    5.0       87.0             NaN          N
3     Dem  Female    6.0       82.5               Y        NaN
4  Louise     NaN    NaN       78.0               Y          N
5   Johna  Female    6.0       20.0               N          N
6    Reda  Female    NaN       12.0               N          N
7   Walki     NaN    5.0       13.5               Y          N
8    Sess    Male    5.0       15.0               N          N
9     NaN     NaN    NaN       12.0             NaN          N

In [65]:
missing_vals = ['na', 'NA', '', 0]
Data_6 = pd.read_csv('data-missing.csv', na_values = missing_vals)
Data_6['Grade'].interpolate(method = 'polynomial', order = 0, inplace = True)
print(Data_6)

     Name  Gender  Grade  Exam-Mark Next addmission Next level
0    John    Male    5.0       70.0               N          Y
1     Ali    Male    5.0       80.0               Y          Y
2     Wak    Male    5.0       87.0             NaN          N
3     Dem  Female    6.0        NaN               Y        NaN
4  Louise     NaN    6.0       78.0               Y          N
5   Johna  Female    6.0       20.0               N          N
6    Reda  Female    6.0       12.0               N          N
7   Walki     NaN    5.0        NaN               Y          N
8    Sess    Male    5.0       15.0               N          N
9     NaN     NaN    NaN       12.0             NaN          N