In [4]:
import pandas as pd

Data = pd.read_csv('titanic.csv')

print(Data.head(6))

   Unnamed: 0                                           Name PClass    Age  \
0           1                   Allen, Miss Elisabeth Walton    1st  29.00
1           2                    Allison, Miss Helen Loraine    1st   2.00
2           3            Allison, Mr Hudson Joshua Creighton    1st  30.00
3           4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00
4           5                  Allison, Master Hudson Trevor    1st   0.92
5           6                             Anderson, Mr Harry    1st  47.00

      Sex  Survived  SexCode
0  female         1        1
1  female         0        1
2    male         0        0
3  female         0        1
4    male         1        0
5    male         1        0

In [10]:
#if we have a group of data and we want to choose a row, column [which called DataFRame]

age = Data['Age']
print(age.head())

0    29.00
1     2.00
2    30.00
3    25.00
4     0.92
Name: Age, dtype: float64

In [20]:
#if you would like to know about Data shape:
print('number of columns for Age >>> ',Data['Age'].shape)  #determine number of columns in age
print('number of columns for Sex >>> ', Data['Sex'].shape)
#remember (1313) is a Tuple and (1313,) is  a list
#lets's check the type of data:
print(type(Data['Age']))
#type here is a series not DataFrame

number of columns for Age >>>  (1313,)
number of columns for Sex >>>  (1313,)
<class 'pandas.core.series.Series'>

In [30]:
#if you want to have multiple data you need to choose it withing a list so that look at the number of [] in code:

print(Data[['Age', 'Sex', 'Survived']]) 

#because we choose a list so type is DataFrame:
print('Type of extracted data is >>>> ', type(Data[['Age', 'Sex', 'Survived']]))
print('shape of data we extracted includes >>>> ', Data[['Age', 'Sex', 'Survived']].shape)

        Age     Sex  Survived
0     29.00  female         1
1      2.00  female         0
2     30.00    male         0
3     25.00  female         0
4      0.92    male         1
...     ...     ...       ...
1308  27.00    male         0
1309  26.00    male         0
1310  22.00    male         0
1311  24.00    male         0
1312  29.00    male         0

[1313 rows x 3 columns]
Type of extracted data is >>>>  <class 'pandas.core.frame.DataFrame'>
shape of data we extracted includes >>>>  (1313, 3)

In [36]:
#lets try something better:
#assume we want all passengers with age of more than 24 so age > 24:
above_24 = Data[Data['Age'] > 24] #here we have a boolean data:
#take care if you want to see table you need to use Data[data...]
print(above_24)

      Unnamed: 0                                           Name PClass   Age  \
0              1                   Allen, Miss Elisabeth Walton    1st  29.0
2              3            Allison, Mr Hudson Joshua Creighton    1st  30.0
3              4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.0
5              6                             Anderson, Mr Harry    1st  47.0
6              7               Andrews, Miss Kornelia Theodosia    1st  63.0
...          ...                                            ...    ...   ...
1301        1302                        Wittevrongel, Mr Camiel    3rd  36.0
1303        1304                             Yasbeck, Mr Antoni    3rd  27.0
1308        1309                             Zakarian, Mr Artun    3rd  27.0
1309        1310                         Zakarian, Mr Maprieder    3rd  26.0
1312        1313                                 Zimmerman, Leo    3rd  29.0

         Sex  Survived  SexCode
0     female         1        1
2       male         0        0
3     female         0        1
5       male         1        0
6     female         1        1
...      ...       ...      ...
1301    male         0        0
1303    male         0        0
1308    male         0        0
1309    male         0        0
1312    male         0        0

[468 rows x 7 columns]

In [38]:
#lets choose another :
print(Data[Data['Sex'] == 'female'])

      Unnamed: 0                                           Name PClass   Age  \
0              1                   Allen, Miss Elisabeth Walton    1st  29.0
1              2                    Allison, Miss Helen Loraine    1st   2.0
3              4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.0
6              7               Andrews, Miss Kornelia Theodosia    1st  63.0
8              9   Appleton, Mrs Edward Dale (Charlotte Lamson)    1st  58.0
...          ...                                            ...    ...   ...
1283        1284            Vestrom, Miss Hulda Amanda Adolfina    3rd  14.0
1293        1294                              Wilkes, Mrs Ellen    3rd  45.0
1304        1305                            Yasbeck, Mrs Antoni    3rd  15.0
1306        1307                            Zabour, Miss Hileni    3rd   NaN
1307        1308                            Zabour, Miss Tamini    3rd   NaN

         Sex  Survived  SexCode
0     female         1        1
1     female         0        1
3     female         0        1
6     female         1        1
8     female         1        1
...      ...       ...      ...
1283  female         0        1
1293  female         1        1
1304  female         1        1
1306  female         0        1
1307  female         0        1

[462 rows x 7 columns]

In [50]:
#try to another:
print(Data[Data['PClass'].isin(['2nd', '3rd'])])

      Unnamed: 0                        Name PClass   Age     Sex  Survived  \
322          323          Abelson, Mr Samuel    2nd  30.0    male         0
323          324  Abelson, Mrs Samuel (Anna)    2nd  28.0  female         1
324          325     Andrew, Mr Edgar Samuel    2nd  18.0    male         0
325          326            Andrew, Mr Frank    2nd   NaN    male         0
326          327         Angle, Mr William A    2nd  34.0    male         0
...          ...                         ...    ...   ...     ...       ...
1308        1309          Zakarian, Mr Artun    3rd  27.0    male         0
1309        1310      Zakarian, Mr Maprieder    3rd  26.0    male         0
1310        1311            Zenni, Mr Philip    3rd  22.0    male         0
1311        1312            Lievens, Mr Rene    3rd  24.0    male         0
1312        1313              Zimmerman, Leo    3rd  29.0    male         0

      SexCode
322         0
323         1
324         0
325         0
326         0
...       ...
1308        0
1309        0
1310        0
1311        0
1312        0

[990 rows x 7 columns]

In [52]:
#we can have above code in another way:
print(Data[(Data['PClass'] == '2nd') | (Data['PClass'] == '3rd')])

      Unnamed: 0                        Name PClass   Age     Sex  Survived  \
322          323          Abelson, Mr Samuel    2nd  30.0    male         0
323          324  Abelson, Mrs Samuel (Anna)    2nd  28.0  female         1
324          325     Andrew, Mr Edgar Samuel    2nd  18.0    male         0
325          326            Andrew, Mr Frank    2nd   NaN    male         0
326          327         Angle, Mr William A    2nd  34.0    male         0
...          ...                         ...    ...   ...     ...       ...
1308        1309          Zakarian, Mr Artun    3rd  27.0    male         0
1309        1310      Zakarian, Mr Maprieder    3rd  26.0    male         0
1310        1311            Zenni, Mr Philip    3rd  22.0    male         0
1311        1312            Lievens, Mr Rene    3rd  24.0    male         0
1312        1313              Zimmerman, Leo    3rd  29.0    male         0

      SexCode
322         0
323         1
324         0
325         0
326         0
...       ...
1308        0
1309        0
1310        0
1311        0
1312        0

[990 rows x 7 columns]

In [53]:
#as it can be seen, some data is NAN for example age: let's work and choose thoose without NaN

print(Data[Data['Age'].notna()])

      Unnamed: 0                                           Name PClass    Age  \
0              1                   Allen, Miss Elisabeth Walton    1st  29.00
1              2                    Allison, Miss Helen Loraine    1st   2.00
2              3            Allison, Mr Hudson Joshua Creighton    1st  30.00
3              4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00
4              5                  Allison, Master Hudson Trevor    1st   0.92
...          ...                                            ...    ...    ...
1308        1309                             Zakarian, Mr Artun    3rd  27.00
1309        1310                         Zakarian, Mr Maprieder    3rd  26.00
1310        1311                               Zenni, Mr Philip    3rd  22.00
1311        1312                               Lievens, Mr Rene    3rd  24.00
1312        1313                                 Zimmerman, Leo    3rd  29.00

         Sex  Survived  SexCode
0     female         1        1
1     female         0        1
2       male         0        0
3     female         0        1
4       male         1        0
...      ...       ...      ...
1308    male         0        0
1309    male         0        0
1310    male         0        0
1311    male         0        0
1312    male         0        0

[756 rows x 7 columns]

In [54]:
#to have two conditions together you can mix them:
age_nan = Data[Data['Age'].notna()]  #this define NaNs
age_above_25 = age_nan[age_nan['Age'] > 25] #this defines above 25 from None_NaNs
print(age_above_25)

      Unnamed: 0                                 Name PClass   Age     Sex  \
0              1         Allen, Miss Elisabeth Walton    1st  29.0  female
2              3  Allison, Mr Hudson Joshua Creighton    1st  30.0    male
5              6                   Anderson, Mr Harry    1st  47.0    male
6              7     Andrews, Miss Kornelia Theodosia    1st  63.0  female
7              8               Andrews, Mr Thomas, jr    1st  39.0    male
...          ...                                  ...    ...   ...     ...
1301        1302              Wittevrongel, Mr Camiel    3rd  36.0    male
1303        1304                   Yasbeck, Mr Antoni    3rd  27.0    male
1308        1309                   Zakarian, Mr Artun    3rd  27.0    male
1309        1310               Zakarian, Mr Maprieder    3rd  26.0    male
1312        1313                       Zimmerman, Leo    3rd  29.0    male

      Survived  SexCode
0            1        1
2            0        0
5            1        0
6            1        1
7            0        0
...        ...      ...
1301         0        0
1303         0        0
1308         0        0
1309         0        0
1312         0        0

[445 rows x 7 columns]

In [63]:
#lets try to have adults name which their age is more than 27

#we use loc[] command ((((if don't remember check first toturial and second))))

#############################################
#     loc[filter, column Name]
# The format of loc function
#################################################
Adult_name =  Data.loc[Data['Age'] > 27, "Name"]
print(Adult_name)
print('To check names by index shown in the left >>>> ', Adult_name[0])

#now you can see the index of it:

0              Allen, Miss Elisabeth Walton
2       Allison, Mr Hudson Joshua Creighton
5                        Anderson, Mr Harry
6          Andrews, Miss Kornelia Theodosia
7                    Andrews, Mr Thomas, jr
                       ...
1291             Widegren, Mr Charles Peter
1293                      Wilkes, Mrs Ellen
1297                    Williams, Mr Leslie
1301                Wittevrongel, Mr Camiel
1312                         Zimmerman, Leo
Name: Name, Length: 394, dtype: object
To check names by index shown in the left >>>>  Allen, Miss Elisabeth Walton

In [69]:
#to check the index numbers:
print(Adult_name.index)
print("let's check the person with index 1281 >>> ", Adult_name[1281])

Int64Index([   0,    2,    5,    6,    7,    8,    9,   10,   15,   17,
            ...
            1275, 1277, 1278, 1281, 1282, 1291, 1293, 1297, 1301, 1312],
           dtype='int64', length=394)
let's check the person with index 1281 >>>  Vendel, Mr Olof Wdvin

In [71]:
#let's choose rows from 10 to 25 and columns of 3 to 5
#now we are working with INT (numbers) so we need iloc
#remember indexes starting with 0

print(Data.iloc[9:26, 2:6])

   PClass   Age     Sex  Survived
9     1st  71.0    male         0
10    1st  47.0    male         0
11    1st  19.0  female         1
12    1st   NaN  female         1
13    1st   NaN    male         1
14    1st   NaN    male         0
15    1st  50.0  female         1
16    1st  24.0    male         0
17    1st  36.0    male         0
18    1st  37.0    male         1
19    1st  47.0  female         1
20    1st  26.0    male         1
21    1st  25.0    male         0
22    1st  25.0    male         1
23    1st  19.0  female         1
24    1st  28.0    male         1
25    1st  45.0    male         0

In [73]:
#as you remember assign()
#if you want to assign some data to a specific place:
print(Data.head())

   Unnamed: 0                                           Name PClass    Age  \
0           1                   Allen, Miss Elisabeth Walton    1st  29.00
1           2                    Allison, Miss Helen Loraine    1st   2.00
2           3            Allison, Mr Hudson Joshua Creighton    1st  30.00
3           4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00
4           5                  Allison, Master Hudson Trevor    1st   0.92

      Sex  Survived  SexCode
0  female         1        1
1  female         0        1
2    male         0        0
3  female         0        1
4    male         1        0

In [75]:
#for example I want to change the first name to "John Pandas"
Data.iloc[0, 1] = 'John Pandas'
print(Data)
#now the first person has been changed to John Pandas

      Unnamed: 0                                           Name PClass    Age  \
0              1                                    John Pandas    1st  29.00
1              2                    Allison, Miss Helen Loraine    1st   2.00
2              3            Allison, Mr Hudson Joshua Creighton    1st  30.00
3              4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00
4              5                  Allison, Master Hudson Trevor    1st   0.92
...          ...                                            ...    ...    ...
1308        1309                             Zakarian, Mr Artun    3rd  27.00
1309        1310                         Zakarian, Mr Maprieder    3rd  26.00
1310        1311                               Zenni, Mr Philip    3rd  22.00
1311        1312                               Lievens, Mr Rene    3rd  24.00
1312        1313                                 Zimmerman, Leo    3rd  29.00

         Sex  Survived  SexCode
0     female         1        1
1     female         0        1
2       male         0        0
3     female         0        1
4       male         1        0
...      ...       ...      ...
1308    male         0        0
1309    male         0        0
1310    male         0        0
1311    male         0        0
1312    male         0        0

[1313 rows x 7 columns]